:root {
  /* colors */
  /* --dark-gray: #474747; */
  --my-orange: #dc965aff;
  --my-white: #e7ecefff;
  --my-black: #313638ff;
  --my-blue: #468c98ff;
  --my-copper: #9b6a6cff;

  /* other examples */
  --my-font-family: "Georgia", serif;
  /* --my-margin: 10px; */
}

html {
  display: table;
  margin: auto;
  width: 60%;
}

body {
  display: table-cell;
  vertical-align: middle;
  background:var(--my-blue);
  font-family: var(--my-font-family);
}

button {
    cursor:pointer;
    font-family: var(--my-font-family);
    /* font-size:20px; */
    font-size: 1.5rem;

    /* self-explanatory */
    width:  33%;
    height: 50px;
    /* how "round" the edges of buttons are */
    border-radius:30px; 
    /* how much space around the buttons */
    margin:auto;
    transition-duration:.2s;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--my-black);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--my-copper);
  text-align: center;
  padding: 2.5% 0px;
  text-decoration: none;
  font-size: 1rem;
  width: 20%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--my-white);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--my-orange);
  color: var(--my-white);
}
/* TEST */
/* TEST */

.calendarItem {
  cursor: pointer;
}

.calendarDiv {
  margin: auto;
}

header {
  color: #000000;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: var(--my-font-family);
  font-size: 1rem;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

td {
  text-align: center;
  height: 20px;
  width: 100%;
}

/* checkered pattern */
/* tr:nth-child(even) td:nth-child(odd), 
tr:nth-child(odd) td:nth-child(even)
{
    background-color: var(--my-white);
} */


/* red weekend */
td:nth-child(even) {
  background-color: var(--my-white);
}
td:nth-child(odd) {
  background-color: grey;
}

/* alternate pattern */
td:first-child,
td:last-child 
{
  background-color: var(--my-copper);
}

li {
  font-family: var(--my-font-family);
  font-size: large;
}
caption {
  padding: 10px;
  caption-side: bottom;
}

h1, 
h2,
h3 {
  text-align: center;
}