:root {
  /* colors */
  /* --dark-gray: #474747; */
  --my-orange: #dc965aff;
  --my-white: #e7ecefff;
  --my-black: #313638ff;
  --my-blue: #468c98ff;
  --my-copper: #9b6a6cff;

  /* other examples */
  --my-font-family: "Georgia", serif;
  /* --my-margin: 10px; */
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background:var(--my-blue);
  font-family: var(--my-font-family);
}

button {
    cursor:pointer;
    font-family: var(--my-font-family);
    font-size:20px;
    /* self-explanatory */
    width:150px;
    height:50px;
    /* how "round" the edges of buttons are */
    border-radius:30px; 
    /* how much space around the buttons */
    margin:20px;
    transition-duration:.2s;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--my-black);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--my-copper);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--my-white);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--my-orange);
  color: var(--my-white);
}
/* TEST */
/* TEST */

.calendarItem {
  cursor: pointer;
}

.calendarDiv {
  margin: auto;
}

header {
  color: #000000;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope="col"] {
  background-color: #696969;
  color: #fff;
}

th[scope="row"] {
  background-color: #d7d9f2;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: var(--my-font-family);
  font-size: 0.8rem;
}
