<!DOCTYPE html>
<html>
    <head>
        <title>Calendar</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <header>
            <h1 id = "month_year"></h1>
        </header>

        <button id="pastMonth">pastMonth</button>
        <button id="currentMonth">currentMonth</button>
        <button id="nextMonth">nextMonth</button>



          <!-- month: <input type="number" name="month" id="input_month"><br> -->
          <!-- year: <input type="number" name="year" id="input_year"><br> -->
        <div id="calendarDiv">
            <h2>Calendar</h2>
            <table id = "calendar" style="border-spacing: 15px;"></table>

            <h2>Saved Schedule</h2>
            <table id = "schedule"></table>
        </div>

        <div id="calendarEditDiv">
            <h2>Edit Calendar</h2>
            <table id="defaultScheduleEdit"></table>
            
        </div>

        <div id="infoDiv">
            <h2>Monthly Announcements & Reminders</h2>
            <h2>Day Information</h2>
            <table id="schedule"></table>
        </div>



    </body>
    <script>let calendarSchedule = JSON.parse('{{ calendarSchedule | tojson | safe}}');</script>
    <script src = "../static/js/admin_calendar.js"></script>
</html>
