<!DOCTYPE html>
<html>
    <head>
        <title>Calendar</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div class="topnav">
            <a href="/" class="active">Home</a>
            <a href="/admin_calendar">Admin Portal</a>
            <a href="/reservation">Machines</a>
            <a href="/logout">Logout</a>
        </div>
        <header>
            <h1 id = "month_year"></h1>
        </header>

        <button id="pastMonth">pastMonth</button>
        <button id="currentMonth">currentMonth</button>
        <button id="nextMonth">nextMonth</button>



          <!-- month: <input type="number" name="month" id="input_month"><br> -->
          <!-- year: <input type="number" name="year" id="input_year"><br> -->
        <div id="calendarDiv">
            <h2>Calendar</h2>
            <table id = "calendar" style="border-spacing: 15px;"></table>

            <h2>Saved Schedule</h2>
            <table id = "schedule"></table>
        </div>

        <div id="calendarEditDiv">
            <h2>Edit Calendar</h2>
            <label for="editOption">Choose Day or Month to edit:</label>
            <select name="editOption" id="editOption">
                <option value="currentMonth">Current Month</option>
                <option value="currentDay">Selected Day</option>
            </select>

            <table id="defaultScheduleEdit"></table>

            <br>
            <button id="saveEdit">Save Changes</button>
            
        </div>



    </body>
    <script>let calendarSchedule = JSON.parse('{{ calendarSchedule | tojson | safe}}');</script>
    <script src = "../static/js/admin_calendar.js"></script>
</html>
