<html>
    <head>
        <title>Woops!</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <!-- ADD LINKS TO NAVBAR -->
    

    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/admin_calendar">Admin Portal</a>
            <a href="/reservation">Machines</a>
            <a href="/logout">Logout</a>
            <p>{{user}}</p>
        </div>
        <h1>There's been a slight complication. Sorry about that!</h1>
        <p>{{error}}</p>

    </body>
</html>
