<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="../static/css/style.css">

    </head>
    <body> 
        <h1>
            Welcome to the Inno Lab's Website!
        </h1>
        <h2>Login or Register Below:</h2>
        <center>
            <form action="{{ url_for('register') }}">
                <input type="submit" value="Register!" />
            </form>

            <form action="{{ url_for('login') }}">
                <input type="submit" value="Login!" />
            </form>
        </center>
        
    </body>
</html>