<html>

<head>
    <meta charset="utf-8">
    <title>login</title>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">

</head>

<body>


    <div class="grid-x grid-padding-x" style="margin-top:30px">
        <div class="cell text-center">
            <h1 class="text-primary" >Login</h1>

        </div>
        <div class="cell" >
            <form action="/login" method="POST">
                <label for="name">Username:</label>
                <input type="text" name="name" id="name" required >
                <label for="name">Password:</label>
                <input type="password" name="password" id="password" required>
                {% if error != "" %}
                <p style="color:red">{{ error }}</p>
                {% endif %}
                <button class="submit button" name="register" id="register">Submit</button>
            </form>
        </div>
    </div>


    <!-- Compressed JavaScript -->
</body>

</html>