<html>
  <head>
    <title>Reserve a Machine!</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/admin_calendar">Admin Portal</a>
    <a href="/reservation">Machines</a>
    <a href="/logout">Logout</a>
    <p>{{user}}</p>
  </div>

  <h1>Machine Reservation</h1>
  <form action = "/confirmation">
    Hi {{user}}, how long do you plan on using this <span id = "mt"> machine </span> for (in minutes)?

    <br>
    <br>
    <div id = "container">
        <input type="radio" id="3D-printer1" name="machineName" value="3D-printer1" onchange="getValue(this)" {{printer1}}>
        <label for="3D-printer1">3D-printer1</label><br>
        <input type="radio" id="3D-printer2" name="machineName" value="3D-printer2" onchange="getValue(this)" {{printer2}}>
        <label for="3D-printer2">3D-printer2</label><br>
        <input type="radio" id="3D-printer3" name="machineName" value="3D-printer3" onchange="getValue(this)" {{printer3}}>
        <label for="3D-printer3">3D-printer3</label><br>
        <input type="radio" id="3D-printer4" name="machineName" value="3D-printer4" onchange="getValue(this)" {{printer4}}>
        <label for="3D-printer4">3D-printer4</label><br>
        <input type="radio" id="3D-printer_Stratasys" name="machineName" value="3D-printer_Stratasys" onchange="getValue(this)" {{printer_Stratasys}}>
        <label for="3D-printer_Stratasys">3D-printer_Stratasys</label><br>
        <input type="radio" id="laser-cutter" name="machineName" value="laser-cutter" onchange="getValue(this)" {{laserCutter}}>
        <label for="laser-cutter">laser-cutter</label><br>
        <input type="radio" id="CNC" name="machineName" value="CNC" onchange="getValue(this)" {{CNC}}>
        <label for="CNC">CNC</label><br>

        <br>
    </div>
    <br>

    <input type="text" name="time">
    <br>
    <br>
    <input type="submit" name="submit" value= "submit">

  </form>
  <br>
  {% if error != "" %}
  <p style="color:red">{{ error }}</p>
  {% endif %}

  <script>
  var input = document.getElementsByTagName('radioButtons');
  var output = document.getElementById("mt");

  if (document.getElementById('3D-printer1').checked){
    output.innerHTML = "3D-printer1";
  }
  if (document.getElementById('3D-printer2').checked){
    output.innerHTML = "3D-printer2";
  }
  if (document.getElementById('3D-printer3').checked){
    output.innerHTML = "3D-printer3";
  }
  if (document.getElementById('3D-printer4').checked){
    output.innerHTML = "3D-printer4";
  }
  if (document.getElementById('3D-printer_Stratasys').checked){
    output.innerHTML = "3D-printer_Stratasys";
  }
  if (document.getElementById('CNC').checked){
    output.innerHTML = "CNC";
  }
  if (document.getElementById('laser-cutter').checked){
    output.innerHTML = "laser-cutter";
  }
  

  function getValue(radio) {
        output.innerHTML = radio.value;
    }
  </script>

</body>
</html>
