<html>

<head>
    <meta charset="utf-8">
    <title>All machines</title>
    <style>

    </style>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/foundation.css">
</head>

<body>
  <form action="/machine">
     <input type="submit" name="machineName" value = "3D-printer1">
     <input type="submit" name="machineName" value = "3D-printer2">
     <input type="submit" name="machineName" value = "3D-printer3">
     <input type="submit" name="machineName" value = "3D-printer4">
     <input type="submit" name="machineName" value = "3D-printer_Stratasys">
     <input type="submit" name="machineName" value = "laser-cutter">
     <input type="submit" name="machineName" value = "CNC">
   </form>

   <form action="/signOutList">
      <input type="submit" name="machineName" value = "3D-printer1">
      <input type="submit" name="machineName" value = "3D-printer2">
      <input type="submit" name="machineName" value = "3D-printer3">
      <input type="submit" name="machineName" value = "3D-printer4">
      <input type="submit" name="machineName" value = "3D-printer_Stratasys">
      <input type="submit" name="machineName" value = "laser-cutter">
      <input type="submit" name="machineName" value = "CNC">
    </form>
    <h3>username: {{user}}</h3>
    <h3>email: {{email}}</h3>
    <a href="{{ url_for('logout') }}">Log Out</a>
</body>

</html>
