<html>

<head>
    <meta charset="utf-8">
    <title>All machines</title>
    <style>

    </style>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/foundation.css">
</head>

<body>
  <form action="/machine">
     <input type="submit" name="machine" value = "3D-printer">
     <input type="submit" name="machine" value = "laser-cutter">
   </form>

   <form action="/signOutList">
      <input type="submit" name="machine" value = "3D-printerDone">
      <input type="submit" name="machine" value = "laser-cutterDone">
    </form>
    <h3>username: {{user}}</h3>
</body>

</html>
