<html>

<head>
    <meta charset="utf-8">
    <title>register</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/foundation.css">

</head>

<body>

    <div class="grid-x grid-padding-x" style="margin-top:30px">
        <div class="cell text-center">
            <h1 class="text-primary">Register</h1>
        </div>
        <div class="cell">
            <form method="POST">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
                <label for="name">Username:</label>
                <input type="text" name="name" id="name" required>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
                <label for="password2">Enter Password Again:</label>
                <input type="password" name="password2" id="password2" required>
                {% if error != "" %}
                <p style="color:red">{{ error }}</p>
                {% endif %}
                <button class="submit button" name="register" id="register">Submit</button>
            </form>
        </div>
    </div>



    <!-- Compressed JavaScript -->
</body>

</html>