<html>
<body>

  <table>
    <tr>
      <th>Machine</th>
      <th>User</th>
      <th>Time</th>
      <th>Use</th>
    </tr>
    <tr>
      <td>CNC</td>
      <td>{{cnc[0]}}</td>
      <td>{{cnc[1]}}</td>
      <td>{{cnc[2]}}</td>
      
    </tr>
    <tr>
      <td>3dp 1</td>
      <td>{{p1[0]}}</td>
      <td>{{p1[1]}}</td>
      <td>{{p1[2]}}</td>
    </tr>
    <tr>
      <td>3dp 2</td>
      <td>{{p2[0]}}</td>
      <td>{{p2[1]}}</td>
      <td>{{p2[2]}}</td>
    </tr>
    <tr>
      <td>3dp 3</td>
      <td>{{p3[0]}}</td>
      <td>{{p3[1]}}</td>
      <td>{{p3[2]}}</td>
    </tr>
    <!-- <tr>
      <td>3dp 4</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
      <td>hold</td>
    </tr> -->
    <tr>
      <td>3dp stratysys</td>
      <td>{{strat[0]}}</td>
      <td>{{strat[1]}}</td>
      <td>{{strat[2]}}</td>
    </tr>
    <tr>
      <td>Laser</td>
      <td>{{laser[0]}}</td>
      <td>{{laser[1]}}</td>
      <td>{{laser[2]}}</td>
    </tr>
  </table>
  <a href="{{ url_for('index') }}">back</a>

</body>
</html>