<html>
<body>
  <form action = "/signOut">

    Please submit if you are done using the <span id = "mt"> machine </span>
    <br>
    <br>
    <input type="text" name="user">
    <br>

    <div id = "container">
        <input type="radio" id="3D-printer" name="machineName" value="3D-printer" onchange="getValue(this)" {{printer}}>
        <label for="3D-printer">3D-printer</label><br>
        <input type="radio" id="laser cutter" name="machineName" value="Laser-cutter" onchange="getValue(this)" {{laserCutter}}>
        <label for="laser cutter">LASER CUTTER</label><br>
        <input type="radio" id="another machine" name="machineName" value="another-machine" onchange="getValue(this)" {{anotherMachine}}>
        <label for="another machine">ANOTHER MACHINE</label>
        <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <input type="submit" name="submit" value= "submit">

  </form>

  <script>
  var input = document.getElementsByTagName('radioButtons');
  var output = document.getElementById("mt");

  if (document.getElementById('3D-printer').checked){
    output.innerHTML = "3D-printer";
  }
  if (document.getElementById('laser cutter').checked){
    output.innerHTML = "LASER CUTTER";
  }
  if (document.getElementById('another machine').checked){
    output.innerHTML = "ANOTHER MACHINE";
  }

  function getValue(radio) {
        output.innerHTML = radio.value;
    }
  </script>

</body>
</html>
