<html>
    <head>
        <title>Waitlist Confirmation</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <!-- ADD LINKS TO NAVBAR -->
   

    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/admin_calendar">Admin Portal</a>
            <a href="/reservation">Machines</a>
            <a href="/logout">Logout</a>
            <p>{{user}}</p>
        </div>
        <h1>Waitlist Confirmation</h1>
        <p>You've been added to the waitlist!</p>
    </body>
</html>
